* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-image: url("../img/pattern.png");
    background-color: rgb(61, 145, 255);
    background-position: 55% 20%;
    background-size: 50%;
}

header > img { 
    margin-top: 40px;
    bottom: 0;
    height: 50%;
}


section#title {
    padding-top: 10px;
}

section#title h1 {
    font-size: 36px;
}

section#title h3, section#title h4, footer p {
    color: gray;
}

.primary-color {
    color: rgb(61, 145, 255);
}

section#images {
    margin-top: 20px;
}

section#images img {
    height: 600px;
}

section#images p {
    font-size: 10px;
}

section#description p, section#description table {
    margin-top: 20px;
}

section#description p span {
    background-color: yellow;
}

section#description ul {
    margin: 20px;
}

section#description table {
    text-align: center;
    justify-content: center;
    border-spacing: 0;
}

section#description table thead {
    background-color: rgb(61, 145, 255);
}

section#description table thead th {
    color: white;
}

section#description table tbody tr td {
    padding: 10px;
}

section#description table tbody tr:first-child, 
section#description table tbody tr:last-child {
    background-color: rgb(145, 193, 255);
}

header, main, footer {
    padding: 10px;
}


footer > #video-0, footer > #video-1 {
    width: 250px;
    height: 150px;
    background-image: url("../img/monitor.jpg");
    margin-top: 10px;
}

footer #video-1 {
    background-image: url("../img/graph.jpg");
}

footer div p {
    position: absolute;
    color: white;
    padding: 10px;
}

