* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 175px;
    background-image: url("../img/pattern.png");
    background-color: rgb(61, 145, 255);
    background-position: 55% 20%;
    padding: 5px;
}

header > img { 
    position: absolute;
    bottom: 0;
    height: 50%;
}