/* main section#images {
    text-align: center;
} */

main, footer {
    width: 80%;
    margin: auto;
    text-align: center;
}

main section#images img {
    width: 770px;
    height: auto;
}

footer div{
    margin: auto;
}

